@*  ﻿@{
    ViewData["Title"] = "Login ve Signup Sayfası";
}

<div class="text-center">
    <h1 class="display-4">Burada login veya signup işllemleri yapılcaktır.</h1>

</div> 

 *@

  ﻿@{
    ViewData["Title"] = "Login ve Signup Sayfası";
}

<div class="text-center">
    <h1 class="display-4">Hoş geldiniz</h1>

</div>
